@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  background: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: rgb(235, 202, 245);
}
html::-webkit-scrollbar-thumb {
  background: #420177;
}

:root {
  --primary: #010124;
  --headingPrimary: #ff7b00;
  --dark: #000000;
  --pure: #fff;
  --dark-grey: #f6f6f6;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
p,h1{
  transition: all 0.3s ease-in-out;
}
 h1:hover{
  transform: scale(1.1);
}
p:hover{
  letter-spacing: 1.3px;
}
.type{
  margin-top: 10px;
  color: #000000;
}
.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
  
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 10%;
  height: 6.5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}
section {
  min-height: 100vh;
  padding: 2rem 9%;
}
.heading {
  font-size: 3.5rem;
  color: rgb(32, 32, 32);
  font-weight: 800;
  text-align: center;
}
.heading span {
  color: rgb(115, 3, 167);
}
header .logo {
  font-size: 1.9rem;
  font-weight: 800;
  text-decoration: none;
  color: #0e2431;
}
header .logo i {
  font-size: 2.2rem;
}
header .logo:hover {
  color: #fc8c05;
}
header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar li {
  margin-left: 2.5rem;
}
header .navbar ul li a {
  font-size: 1.57rem;
  color: #0e2431;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.04rem;
  transition: 0.2s;
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
  padding: 0.5rem 0;
}
/* navbar ends */

/* hamburger icon starts*/
#menu {
  font-size: 3rem;
  cursor: pointer;
  color: rgb(24, 2, 63);
  display: none;
}
@media (max-width: 768px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 6.5rem;
    right: -120%;
    width: 75%;
    height: 100%;
    text-align: left;
    align-items: flex-start;
    background-color: #0e0f31;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #fff;
    font-size: 2rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #011aff;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}
/* hamburger icon ends */

/* main start  */
.hero-area {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.hero-area #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hero-area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero-area{
  height: 100vh;
}
.hero {
  margin-top: 30px;
  
  display: flex;
  justify-content: space-between;
}
.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .left .ankit {
  color: var(--headingPrimary);
}

.hero .left h1{
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
}

.hero .left p {
  color: var(--dark);
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
.hero .left h1:hover,.hero .left p:hover{
  transform: scale(1.1);
}
.hero .left h1,
p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
}

.social-icons {
  margin-top: 20px;
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-icons a {
  color: var(--dark);
}
.social-icons a i {
  margin: 0 20px;
}
.social-icons a i:hover{
  transform: scale(1.2);
}

.resume{
  text-align: center;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  border: 1px solid var(--dark);
  padding: 10px;
  transition: all .2s ease-in-out;
}
.resume:hover{
  transform: scale(1.1);
  border: 1px solid var(--primary);
  color: var(--primary);
}
.resume a:hover{
  color: var(--primary);
}

.hero .right img {
  height: 450px;
  width: 350px;
  border-radius: 50px;
  transition: all .2s ease-in-out;
}
.hero .right img:hover{
  transform: scale(1.03);
}

.home .right {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .right img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .right img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* hero section end  */

/* skills section starts */
.skills {
 
  min-height: 90vh;
  background: #010124;
}
.skills h2 {
  color: #fff;
}
.skills .heading span {
  color: rgb(255, 230, 0);
}
.skills .container-skill {
  background: white;
  color: #fff;
  border-radius: 1rem;
  padding: 10rem 5rem ;
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}
.skills .container-skill .row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  gap: 1.8rem;
}
.skills .container-skill .bar {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 22, 0.9);
  transition: 0.2s;
}
.skills .container-skill .bar:hover {
  box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8) !important;
  background-color: rgba(0, 0, 0, 0.9) !important;
}
.skills .container-skill .bar .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.skills .container-skill .bar .info i {
  font-size: 4rem;
}
.skills .container-skill .bar .info span {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
/* skills media queries starts*/
@media screen and (max-width: 600px) {
  .skills .container-skill {
    padding: 0;
    margin: 0;
  }
  .skills .container-skill .row {
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    padding: 2rem 0.2rem 2rem 0.2rem;
    gap: 1rem;
  }
  .skills .container-skill {
    margin-top: 5px;
    width: 100%;
  }
}
/* skills media queries ends*/
/* skills section ends */

/* work section starts */
.work {
  background: #010124;
}
.work h2 {
  color: #fff;
  padding: 1rem;
}
.work .heading span {
  color: rgb(255, 230, 0);
}
.work .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 2rem;
}
.work .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  height: 30rem;
}
.work .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.work .box-container .box .content {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}
.work .box-container .box .content .tag {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  padding-left: 1rem;
  background: #ffd900;
}
.work .box-container .box .content .tag h3 {
  font-size: 2rem;
}
.work .box-container .box:hover .content {
  top: 25%;
}
.work .desc {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.work .desc p {
  font-size: 1.5rem;
}
.work .desc .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.work .desc .btns .btn {
  line-height: 0;
  display: inline;
  padding: 1.5rem 2.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background: rgb(12, 12, 12);
  margin-right: 2rem;
}
.work .desc .btns .btn:hover {
  background: #310ae0f5;
}
.work .viewall {
  display: flex;
  justify-content: center;
}
.work .viewall .btn {
  position: relative;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 0.5em;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  font-weight: 700;
  border: 2px solid #fff;
  box-shadow: 0px 5px 10px rgba(65, 84, 241, 0.4);
  text-align: center;
}
.work .viewall .btn span {
  font-weight: 600;
  font-size: 1.7rem;
  font-family: "Nunito", sans-serif;
}
.work .viewall .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.work .viewall .btn:hover {
  background: #fff;
  color: #000;
}
.work .viewall .btn:hover i {
  transform: translateX(5px);
}
/* work section ends */

/* content area start  */

.content{
    background: var(--dark);
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.content .container h1{
  color: var(--pure);
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}
.content .container p{
  color: var(--pure);
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.6rem;
}

.content-area {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.content-area .post-card {
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.content-area .post-card{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content-area .post-card img {
  width: 350px;
  height: 250px;
 
}
.content-area .post-card a{
  transition: all .3s ease-in-out;

}
.content-area .post-card a:hover{
  transform: scale(1.1);
}



/* about me section */
#about-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more-me{
  height: 100vh;
  display: flex;
  
}
.more-me .container h1{
  text-align: center;
  font-size: 3rem;
}
.more-me .container p,.content-area .post-card .right p{
  margin-top: 10px;
  font-size: 1.5rem;
}

.tech-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tech-list p{
  font-weight: 400;
}

/* education section starts */
.education {
  background: #ffffff;
  min-height: 80vh;
}
.education > h1> span{
  color: #011aff;
}
.education .qoute {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-top: 0.5rem;
}
.education .box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.education .box-container .box {
  display: flex;
  flex-direction: row;
  width: 80%;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  transition: 0.3s;
  background: rgb(252, 252, 252);
}
.education .box-container .box:hover {
  transform: scale(1.03);
  box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}
.education .box-container .box .image {
  flex: 1 1 20rem;
  width: 100%;
}
.education .box-container .box img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.education .box-container .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-wrap: wrap;
  flex: 1 1 70rem;
}
.education .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #fff;
  padding: 0.5rem 0;
  font-weight: 600;
  text-align: left;
  margin-left: 1rem;
}
.education .box-container .box .content p {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: left;
  color: #c2c2c2;
}
.education h4 {
  font-size: 2rem;
  color: rgb(225, 229, 26);
  text-align: left;
  margin: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
  .education .box-container .box {
    flex-direction: column;
    width: 100%;
  }
  .education .box-container .box .image {
    width: 100%;
    height: 25rem;
  }
  .education .box-container .box img {
    width: 100%;
  }
  .education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 0;
  }
  .education .btns {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-wrap: wrap;
  }
}
/* education media queries ends*/
/* education section ends */



/* contact section starts */
.contact {
  background: var(--dark-grey);
  min-height: 60vh;
}
.contact > h2 > span{
  color: #011aff;
}
.contact .container {
  max-width: 1050px;
  width: 100%;
  background: #fff;
  border-radius: 1.5rem;
  margin: 2rem 5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.contact .container .content-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.contact .content-contact .image-box {
  max-width: 60%;
  margin-left: 4rem;
}
.contact .content-contact .image-box img {
  width: 100%;
  height: 40rem;
  position: relative;
}
.contact .content-contact form {
  width: 45%;
  margin-right: 3.5rem;
}
form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-group .field {
  height: 50px;
  display: flex;
  position: relative;
  margin: 1rem;
  width: 100%;
}
form i {
  position: absolute;
  top: 50%;
  left: 18px;
  color: rgb(51, 51, 51);
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 16px 0 48px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(51, 51, 51);
  background: #e5ecfb;
}
.field input::placeholder,
.message textarea::placeholder {
  color: rgb(51, 51, 51);
}
.field input:focus,
.message textarea:focus {
  padding-left: 47px;
  border: 2px solid var(--primary);
}
.field input:focus ~ i,
.message textarea:focus ~ i {
  color: var(--primary);
}
form .message {
  position: relative;
  margin: 1rem;
  width: 100%;
}
form .message i {
  top: 25px;
  font-size: 20px;
  left: 15px;
}
form .message textarea {
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 12px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar {
  width: 0px;
}
form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}
.button-area button {
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #010124;
  box-shadow: 0px 5px 10px var(--primary);
  transition: 0.3s ease;
  font-family: "Nunito", sans-serif;
}
.button-area button:hover {
  background: #010146;
}
.button-area span {
  font-size: 17px;
  padding: 1rem;
  display: none;
}
.button-area button i {
  position: relative;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}
.button-area button:hover i {
  left: 8px;
}
/* contact section media queries starts */
@media (max-width: 900px) {
  .contact {
    min-height: 70vh;
  }
  .contact .container {
    margin: 3rem 0 2rem 0;
  }
  .contact .container .content-contact {
    padding: 18px 12px;
  }
  .contact .content-contact .image-box {
    display: none;
  }
  .contact .content-contact form {
    width: 100%;
    margin-right: 2rem;
  }
}
/* contact section media queries ends */
/* contact section ends */

/* footer start  */
.footer{
  background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--pure);
    padding: 20px;
}
.footer p{
    padding-top: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.footer p:hover{
  transform: scale(1.1);
  letter-spacing: 3px;
}


/* responsive  */
@media (max-width: 950px) {
  .navbar .brand {
    font-size: 20px;
    font-weight: bold;
  }
  .navbar .menu .nav-list li {
    margin-right: 10px;
    font-size: 16px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 21px;
    font-weight: bold;
  }
  .hero .left h1{
    font-size: 3rem;
  }
  .hero .left p {
    
    letter-spacing: 1px;
    font-size: 1.6rem;
  }
  .hero .left h1,
  p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
  }
  .hero .right img {
    height: 600px;
    width: 320px;
    border-radius: 50px;
  }
  .social-icons a i {
    margin: 0 10px;
  }
  .darkMode{
    height: 20px;
    width: 20px;
  }
  .content-area {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area .post-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  .content-area .post-card img{
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .navbar .brand {
    font-size: 18px;
    font-weight: bold;
  }
  .navbar .menu .nav-list li {
    margin-right: 10px;
    font-size: 14px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 19px;
    font-weight: bold;
  }

  /* hero section  */
  .hero {
    margin-top: 30px;
    display: block;
  }

  .hero .left {
    display: block;
  }
  .hero .left h1 {
    text-align: center;
  }

  .hero .right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .right img {

    margin-top: 20px;
    height: 450px;
    width: 90%;
    border-radius: 50px;
  }

  /* content  */
  .content-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area .post-card .left img {
  width: 100px;
  height: 100px;
    }
    .footer p{
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 16px;
    }
}
@media (max-width: 360px) {
  .navbar .brand {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li {
    margin-right: 5px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    font-weight: bold;
  }

  .hero {
    margin-top: 30px;
    display: block;
  }
  .hero .right{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero .right img {
    margin-top: 20px;
    height: 320px;
    width: 90%;
    border-radius: 50px;
  }

  #about-box{
    margin-top: 120px;
  }
}
