* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Patrick Hand', cursive; */
  /* /* font-family: 'Roboto', sans-serif; */
  font-family: "Zen Loop", cursive;
}
:root {
  --primary: tomato;
  --dark: #000000;
  --pure: #fff;
  --dark-grey: #c2c2c2;
}

li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
p,h1{
  transition: all 0.3s ease-in-out;
}
 h1:hover{
  transform: scale(1.1);
}
p:hover{
  letter-spacing: 1.3px;
}

.container {
  width: 1152px;
  max-width: 90%;
  margin: 0 auto;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.navbar .brand {
  font-size: 56px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}
.navbar .brand:hover{
  transform: scale(1.1);
}

.navbar .menu .nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar .menu .nav-list li {
  margin-right: 50px;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar .menu .nav-list li:hover,.navbar .menu .nav-list li a:hover {
  color: var(--primary);
  transform: scale(1.2);
  font-weight: bold;
}

#darkMode{
  transition: all 0.3s ease-in-out;
}
#darkMode:hover{
  transform: scale(1.2);
}
/* navbar end  */

/* main start  */
.hero-area{
  padding: 20px 0;
}
.hero {
  margin-top: 30px;
  
  display: flex;
  justify-content: space-between;
}
.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .left .ankit {
  color: var(--primary);
}

.hero .left h1{
  font-size: 4rem;
  transition: all 0.3s ease-in-out;
}

.hero .left p {
  color: var(--dark);
  letter-spacing: 1px;
  font-size: 1.6rem;
  transition: all 0.3s ease-in-out;
}
.hero .left h1:hover,.hero .left p:hover{
  transform: scale(1.1);
}
.hero .left h1,
p {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
}

.social-icons {
  margin-top: 20px;
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-icons a {
  color: var(--dark);
}
.social-icons a i {
  margin: 0 20px;
}
.social-icons a i:hover{
  transform: scale(1.2);
}

.resume{
  text-align: center;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 1.8rem;
  border: 1px solid var(--dark);
  padding: 10px;
  transition: all .2s ease-in-out;
}
.resume:hover{
  transform: scale(1.1);
  border: 1px solid var(--primary);
  color: var(--primary);
}
.resume a:hover{
  color: var(--primary);
}

.hero .right img {
  height: 600px;
  width: 520px;
  border-radius: 50px;
  transition: all .2s ease-in-out;
}
.hero .right img:hover{
  transform: scale(1.03);
}
/* hero section end  */

/* content area start  */

.content{
    background: var(--dark);
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.content .container h1{
  color: var(--pure);
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}
.content .container p{
  color: var(--pure);
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.6rem;
}

.content-area {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

.content-area .post-card {
    width: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}
.content-area .post-card{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content-area .post-card img {
  width: 350px;
  height: 250px;
 
}
.content-area .post-card a{
  transition: all .3s ease-in-out;

}
.content-area .post-card a:hover{
  transform: scale(1.1);
}



/* about me section */
.about{
  padding: 30px;
}
.about .container h1{
  text-align: center;
  font-size: 3rem;
}
.about .container p,.content-area .post-card .right p{
  margin-top: 10px;
  font-size: 1.5rem;
}

.tech-list{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tech-list p{
  font-weight: 400;
}


/* footer start  */
.footer{
  background: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--pure);
    padding: 20px;
}
.footer p{
    padding-top: 10px;
    letter-spacing: 2px;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.footer p:hover{
  transform: scale(1.1);
  letter-spacing: 3px;
}


/* responsive  */
@media (max-width: 950px) {
  .navbar .brand {
    font-size: 20px;
    font-weight: bold;
  }
  .navbar .menu .nav-list li {
    margin-right: 10px;
    font-size: 16px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 21px;
    font-weight: bold;
  }
  .hero .left h1{
    font-size: 3rem;
  }
  .hero .left p {
    
    letter-spacing: 1px;
    font-size: 1.6rem;
  }
  .hero .left h1,
  p {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
  }
  .hero .right img {
    height: 400px;
    width: 320px;
    border-radius: 50px;
  }
  .social-icons a i {
    margin: 0 10px;
  }
  .darkMode{
    height: 20px;
    width: 20px;
  }
  .content-area {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area .post-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      justify-content: center;
      align-items: center;
  }
  .content-area .post-card img{
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 560px) {
  .navbar .brand {
    font-size: 18px;
    font-weight: bold;
  }
  .navbar .menu .nav-list li {
    margin-right: 10px;
    font-size: 14px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 19px;
    font-weight: bold;
  }

  /* hero section  */
  .hero {
    margin-top: 30px;
    display: block;
  }

  .hero .left {
    display: block;
  }
  .hero .left h1 {
    text-align: center;
  }

  .hero .right img {
    margin-top: 20px;
    height: 450px;
    width: 100%;
    border-radius: 50px;
  }

  /* content  */
  .content-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-area .post-card .left img {
  width: 100px;
  height: 100px;
    }
    .footer p{
        margin-top: 20px;
        letter-spacing: 1px;
        font-size: 16px;
    }
}
@media (max-width: 360px) {
  .navbar .brand {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li {
    margin-right: 5px;
    font-size: 12px;
    letter-spacing: 1px;
  }
  .navbar .menu .nav-list li a {
    transition: all 0.3s ease-in-out;
  }
  .navbar .menu .nav-list li a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    font-weight: bold;
  }
  .hero .right img {
    margin-top: 20px;
    height: 350px;
    width: 100%;
    border-radius: 50px;
  }
}
